#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.3dd9955ee553b42ff992f6f45c5b19a89fb39fd0.name = "2.8~ynh3"
    test_upgrade_from.cfda1553a6758a0aca6c89aabe6256efac0f13df.name = "Helpers v1"
